<div fxFlex fxLayout fxLayoutAlign="center">
  <div class="pad">
    <form [formGroup]="facilityForm" >
        <div formGroupName="nameFacilityGroup">
        <mat-form-field class="facility-full-width">
            <input matInput placeholder="Nom de l'équipement" type="text" formControlName="nameFacility" [errorStateMatcher]="confirmValidParentMatcher" [(ngModel)]="nameFacility">
            <mat-error>
                {{errors.nameFacility}}
            </mat-error>
        </mat-form-field>

      </div>
      <div>
          <mat-form-field class="facility-full-width">
              <input matInput placeholder="Tarif prestation (10')" type="number" formControlName="priceSeance" [(ngModel)]="priceSeance">
          </mat-form-field>
        </div>

      <button mat-raised-button [disabled]="facilityForm.invalid" (click)="onUpdate()">Enregistrer les modifications</button>
    </form>
  </div> 
</div>