.customer-new-container {
    display: flex;
    flex-direction: column;
  }
  
  .customer-new-container > * {
    width: 100%;
  }

  .customer-form {
    min-width: 150px;
    max-width: 600px;
    width: 100%;
  }
  
  .customer-full-width {
    width: 100%;
  }

  .customer-border {
    border-style: solid;
  }

  .pad {
    margin: 5px;
    padding: 5px;
  }

  .example-card {
    max-width: 400px;
  }
  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }

  mat-grid-tile {
    background: lightblue;
  }

