.product-ref-new-container {
    display: flex;
    flex-direction: column;
  }
  
  .product-ref-new-container > * {
    width: 100%;
  }

  .product-ref-form {
    min-width: 150px;
    max-width: 600px;
    width: 100%;
  }

  .upload-zone {
    width: 600px;
  }
  
  .product-ref-full-width {
    min-width:400px;
    max-width: 800px;
  }

  .product-ref-border {
    border-style: solid;
  }

  .pad {
    margin: 15px;
    padding: 15px;
  }

  .img-product {
    width: 130px;
    height: 120px;
  }