<mat-toolbar color="primary" class="mat-elevation-z5" role="heading">
  <!-- <li *ngIf="typeRole === 'ROLE_ADMIN' || typeRole === 'ROLE_USER' || typeRole === 'ROLE_MANAGER' || typeRole === 'ROLE_DEVELOPPER'"><a routerLink="/gendles">Genres</a></li> -->
  <div>
    <a class="docs-navbar-hide-small docs-button mat-button ng-star-inserted" _ngcontent-cl="" mat-button="" tabindex="0" aria-disabled="false" (click)="onHome('')">
      <mat-icon>home</mat-icon>
      <div class="mat-button-ripple mat-ripple" matripple=""></div>
      <div class="mat-button-focus-overlay"></div>
    </a>

  </div>

  <div class="flex-spacer" _ngcontent-cl=""></div>

  <div fxHide.gt-xs>
    <button mat-icon-button (click)="onToggleSidenav()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
  
  <div fxFlex fxLayout fxLayoutAlign="end" fxHide.xs>

      <a *ngIf="authority.authority=='ROLE_ANONYMOUS'" class="docs-navbar-hide-small docs-button mat-button ng-star-inserted" _ngcontent-cl="" mat-button="" tabindex="0" aria-disabled="false" routerLink="/login">
        <mat-icon>person</mat-icon>
        <span class="mat-button-wrapper">SignIn</span>
        <div class="mat-button-ripple mat-ripple" matripple=""></div>
        <div class="mat-button-focus-overlay"></div>
      </a>
      <a *ngIf="authority.authority=='ROLE_ANONYMOUS'" class="docs-navbar-hide-small docs-button mat-button ng-star-inserted" _ngcontent-cl="" mat-button="" tabindex="0" aria-disabled="false" routerLink="/customer-new">
          <mat-icon>person_add</mat-icon>
          <span class="mat-button-wrapper">SignUp</span>
        <div class="mat-button-ripple mat-ripple" matripple=""></div>
        <div class="mat-button-focus-overlay"></div>
      </a> 

      <button *ngIf="isAuth && authority.authority=='ROLE_CUSTOMER'" mat-button [matMenuTriggerFor]="offrescustomer"><mat-icon>edit</mat-icon>Nos offres</button>
      <mat-menu  #offrescustomer="matMenu">
        <button mat-menu-item _ngcontent-cl="" tabindex="0" aria-disabled="false" (click)="onAction('/seance-booking')"><mat-icon>fitness_center</mat-icon>Constituer une séance</button>
        <button mat-menu-item _ngcontent-cl="" tabindex="0" aria-disabled="false" (click)="onAction('/subscription-customer-proposition')"><mat-icon>book</mat-icon>Souscrire à un abonnement</button>
        <button mat-menu-item _ngcontent-cl="" tabindex="0" aria-disabled="false" (click)="onAction('/product-listing')"><mat-icon>library_books</mat-icon>Notre catalogue</button>
     </mat-menu>

     <button *ngIf="isAuth && authority.authority=='ROLE_CUSTOMER'" mat-button [matMenuTriggerFor]="reportings"><mat-icon>list</mat-icon>Vos suivis</button>
     <mat-menu #reportings="matMenu">
      <button mat-menu-item _ngcontent-cl="" tabindex="2" aria-disabled="false" (click)="onAction('/command-listing')"><mat-icon>business_center</mat-icon>Vos commandes</button>
      <button mat-menu-item _ngcontent-cl="" tabindex="3" aria-disabled="false" (click)="onAction('/seance-listing')"><mat-icon>event_note</mat-icon>Vos séances</button>
      <button mat-menu-item _ngcontent-cl="" tabindex="5" aria-disabled="false" (click)="onAction('/subscription-customer-historic')"><mat-icon>format_list_bulleted</mat-icon>Votre abonnements</button>
    </mat-menu>
 
      <button *ngIf="isAuth && (authority.authority=='ROLE_ADMIN' || authority.authority=='ROLE_MANAGER')"  mat-button [matMenuTriggerFor]="centre"><mat-icon>domain</mat-icon> 
        Gestion centre</button>
      <mat-menu  #centre="matMenu">
          <button mat-menu-item [matMenuTriggerFor]="room"><mat-icon>low_priority</mat-icon>Gestion des salles</button>
          <button mat-menu-item [matMenuTriggerFor]="parc"><mat-icon>settings_cell</mat-icon>Gestion du parc</button>
      </mat-menu>

      <mat-menu  #room="matMenu">
         <button mat-menu-item _ngcontent-cl="" tabindex="4" aria-disabled="false" (click)="onAction('/room-new')"><mat-icon>add_to_photos</mat-icon>Ajouter une salle</button>
         <button mat-menu-item _ngcontent-cl="" tabindex="5" aria-disabled="false" (click)="onAction('/room-listing')"><mat-icon>list</mat-icon>Lister les salles</button>
      </mat-menu>

      <mat-menu  #parc="matMenu">
          <button mat-menu-item [matMenuTriggerFor]="category"><mat-icon>web</mat-icon>Categorie équipement</button>
          <button mat-menu-item [matMenuTriggerFor]="facility"><mat-icon>directions_bike</mat-icon>Equipement</button>
      </mat-menu>

      <mat-menu #category="matMenu">
          <button mat-menu-item _ngcontent-cl="" tabindex="6" aria-disabled="false" (click)="onAction('/facility-category-new')"><mat-icon>add_to_photos</mat-icon>Ajouter une catégorie</button>
          <button mat-menu-item _ngcontent-cl="" tabindex="7" aria-disabled="false" (click)="onAction('/facility-category-listing')"><mat-icon>list</mat-icon>Lister les catégories</button>
        </mat-menu>

       <mat-menu #facility="matMenu">
          <button mat-menu-item _ngcontent-cl="" tabindex="8" aria-disabled="false" (click)="onAction('/facility-new')"><mat-icon>add_to_photos</mat-icon>Ajouter un équipement</button>
          <button mat-menu-item _ngcontent-cl="" tabindex="9" aria-disabled="false" (click)="onAction('/facility-listing')"><mat-icon>list</mat-icon>Lister les équipements</button>
       </mat-menu>

       <button *ngIf="isAuth && (authority.authority=='ROLE_ADMIN' || authority.authority=='ROLE_MANAGER')"  mat-button [matMenuTriggerFor]="offres"><mat-icon>all_inclusive</mat-icon> Gestion offres</button>
       <mat-menu  #offres="matMenu">
          <button mat-menu-item [matMenuTriggerFor]="subscriptions"><mat-icon>subscriptions</mat-icon> Gestion abonnements</button>
          <button mat-menu-item [matMenuTriggerFor]="products"><mat-icon>library_books</mat-icon>Gestion produits</button>

       </mat-menu>

      <mat-menu  #subscriptions="matMenu">
        <button mat-menu-item _ngcontent-cl="" tabindex="10" aria-disabled="false" (click)="onAction('/subscription-category-new')"><mat-icon>add_to_photos</mat-icon>Ajouter un type d'abonnement</button>
        <button mat-menu-item _ngcontent-cl="" tabindex="11" aria-disabled="false" (click)="onAction('/subscription-category-listing')"><mat-icon>list</mat-icon>Listing des types d'abonnement</button>
      </mat-menu>

      <mat-menu  #products="matMenu">
        <button mat-menu-item _ngcontent-cl="" tabindex="10" aria-disabled="false" (click)="onAction('/product-category-new')"><mat-icon>add_to_photos</mat-icon>Ajouter une catégorie de produit</button>
        <button mat-menu-item _ngcontent-cl="" tabindex="11" aria-disabled="false" (click)="onAction('/product-category-listing')"><mat-icon>list</mat-icon>Listing des catégories de produit</button>
        <mat-divider></mat-divider>
        <button mat-menu-item _ngcontent-cl="" tabindex="10" aria-disabled="false" (click)="onAction('/product-ref-new')"><mat-icon>add_to_photos</mat-icon>Ajouter un produit</button>
        <button mat-menu-item _ngcontent-cl="" tabindex="11" aria-disabled="false" (click)="onAction('/product-ref-listing')"><mat-icon>list</mat-icon>Listing des produits</button>
      </mat-menu>

       <button *ngIf="isAuth && authority.authority=='ROLE_ADMIN'"  mat-button [matMenuTriggerFor]="staff"><mat-icon>supervisor_account</mat-icon> Gestion staff</button>
       <mat-menu  #staff="matMenu">
           <button mat-menu-item _ngcontent-cl="" tabindex="12" aria-disabled="false" (click)="onAction('/staff-new')"><mat-icon>add_to_photos</mat-icon>Ajout collaborateurs</button>
           <button mat-menu-item _ngcontent-cl="" tabindex="13" aria-disabled="false" (click)="onAction('/staff-listing')"><mat-icon>list</mat-icon>Listing des collaborateurs</button>
        </mat-menu>
    
      <button *ngIf="isAuth && (authority.authority=='ROLE_ADMIN' || authority.authority=='ROLE_MANAGER')"  mat-button [matMenuTriggerFor]="pilotage"><mat-icon>insert_chart</mat-icon>Pilotage</button>
      <mat-menu  #pilotage="matMenu">
          <button mat-menu-item _ngcontent-cl="" tabindex="14" aria-disabled="false" (click)="onReportingBooking()"><mat-icon>insert_chart</mat-icon>Graphique réservation</button>
          <button mat-menu-item _ngcontent-cl="" tabindex="15" aria-disabled="false" (click)="onReportingRentability()"><mat-icon>insert_chart</mat-icon>Graphique rentabilité</button>
          <mat-divider></mat-divider>
          <button mat-menu-item _ngcontent-cl="" tabindex="16" aria-disabled="false" (click)="onAction('/evenement-new')"><mat-icon>add_to_photos</mat-icon>Ajouter un événement</button>
          <button mat-menu-item _ngcontent-cl="" tabindex="17" aria-disabled="false" (click)="onAction('/evenement-listing')"><mat-icon>list</mat-icon>Lister les événements</button> 
        </mat-menu>
</div>  
  
      <button *ngIf="isAuth && authority.authority=='ROLE_CUSTOMER'" mat-button [matMenuTriggerFor]="cart">
          <mat-icon matBadge="{{ nbItems }}" matBadgeColor="warn">shopping_cart</mat-icon>
        </button>
       
        <mat-menu  #cart="matMenu" (mouseleave)="onMouseleave()">
            <button mat-menu-item _ngcontent-cl="" tabindex="14" aria-disabled="false"><span class="span-panier">Votre panier</span>
              &nbsp; &nbsp; &nbsp; <mat-icon>close</mat-icon>
            </button>
            <mat-divider></mat-divider>
            <button mat-menu-item _ngcontent-cl="" tabindex="14" aria-disabled="false" (click)="onSeeCart()"><mat-icon>list</mat-icon> Voir le panier</button>
            <button mat-menu-item _ngcontent-cl="" tabindex="14" aria-disabled="false" (click)="onResetCart()"><mat-icon>remove_shopping_cart</mat-icon> Vider le panier</button>
        </mat-menu>
      
 





   



    <!-- <div id="cart" class="cart">        
        <div class="cartText" id="cartText" (mouseleave)="onMouseleave()">
              <span class="cart-title">Votre panier</span>
              <button mat-button matSuffix mat-icon-button aria-label="Clear" (click)="onContinue()">
                <mat-icon>close</mat-icon>
              </button>
            <br>
          <a class="docs-navbar-hide-small docs-button mat-button ng-star-inserted" _ngcontent-cl="" mat-button="" tabindex="0" aria-disabled="false" (click)="onSeeCart()">
            <span class="mat-button-wrapper">Voir le panier</span>
          <div class="mat-button-ripple mat-ripple" matripple=""></div>
          <div class="mat-button-focus-overlay"></div>
        </a> -->
<!-- 
            <br> 
            <a class="docs-navbar-hide-small docs-button mat-button ng-star-inserted" _ngcontent-cl="" mat-button="" tabindex="0" aria-disabled="false" (click)="onValidateCart()">
                <span class="mat-button-wrapper">Valider le panier</span>
              <div class="mat-button-ripple mat-ripple" matripple=""></div>
              <div class="mat-button-focus-overlay"></div>
            </a>  -->
          <!-- <br>        
            <a class="docs-navbar-hide-small docs-button mat-button ng-star-inserted" _ngcontent-cl="" mat-button="" tabindex="0" aria-disabled="false" (click)="onResetCart()">
                <span class="mat-button-wrapper">Vider le panier</span>
              <div class="mat-button-ripple mat-ripple" matripple=""></div>
              <div class="mat-button-focus-overlay"></div>
            </a>
        </div>    
      </div> -->
    <div> 
    <a *ngIf="isAuth && (authority.authority=='ROLE_ADMIN' || authority.authority=='ROLE_MANAGER' || authority.authority=='ROLE_CUSTOMER')" class="docs-navbar-hide-small docs-button mat-button ng-star-inserted" _ngcontent-cl="" mat-button="" tabindex="0" aria-disabled="false" (click)="onLogout()">
      <mat-icon>power_settings_new</mat-icon>
      <div class="mat-button-ripple mat-ripple" matripple=""></div>
      <div class="mat-button-focus-overlay"></div>
    </a>
 
  </div>       
   
</mat-toolbar>


