<div fxFlex fxLayout fxLayoutAlign="center">
    <div class="pad">
      <form [formGroup]="productRefForm">
     <div>
          <mat-form-field class="product-full-width">
            <input readonly matInput placeholder="Nom du produit" type="text" formControlName="nameProductRef" [(ngModel)]="nameProductRef">
          </mat-form-field>
        </div>
        <div>
            <mat-form-field class="product-full-width">
                <textarea readonly matInput placeholder="Description du produit" type="text" formControlName="descriptionProductRef" [(ngModel)]="descriptionProductRef"></textarea>
            </mat-form-field>    
          </div> 
          <div>
            <br>
            <img *ngIf="imageProductRef!=''" class="img-watch" src="assets/images/facilities/{{ imageProductRef }}" />
          </div> 
          <div>
            <mat-form-field class="product-full-width">
                <input readonly matInput placeholder="Prix" type="text" formControlName="priceProductRef" [(ngModel)]="priceProductFormatted">
             </mat-form-field>
             <span>&nbsp;&nbsp;</span>
             <mat-form-field class="product-quantity-width">
              <input matInput required placeholder="Quantité" type="number" min="1" max="15" formControlName="quantityProductRef" (click)="calculatePrice()" [(ngModel)]="quantityProductRef">
            </mat-form-field>
          </div>
            <div class="pad"></div>
        <button mat-raised-button [disabled]="productRefForm.invalid" (click)="onAddCart()">Ajouter au panier</button>
     </form>
    </div> 
  </div>
