<mat-nav-list>
  <div>
  <a class="docs-navbar-hide-small docs-button mat-button ng-star-inserted" _ngcontent-cl="" mat-button="" (click)="onSidenavClose()" tabindex="0" aria-disabled="false" routerLink="/login">
    <mat-icon>person</mat-icon>
    <span class="mat-button-wrapper">SignIn</span>
  </a>
</div>
<div>
  <a class="docs-navbar-hide-small docs-button mat-button ng-star-inserted" _ngcontent-cl="" mat-button="" (click)="onSidenavClose()" tabindex="0" aria-disabled="false" routerLink="/customer-new">
      <mat-icon>person_add</mat-icon>
      <span class="mat-button-wrapper">SignUp</span>
  </a> 
  </div>
  <div>
  <a class="docs-navbar-hide-small docs-button mat-button ng-star-inserted" _ngcontent-cl="" mat-button="" (click)="onSidenavClose()" tabindex="0" aria-disabled="false" routerLink="/seance-booking">
    <span class="mat-button-wrapper">Add Seance</span>
    <div class="mat-button-ripple mat-ripple" matripple=""></div>
    <div class="mat-button-focus-overlay"></div>
  </a>
  </div>
</mat-nav-list>