
  <div style="position: relative; text-align:center; height: 350px; vertical-align: bottom; background-image: url('assets/images/smartFitness.jpg'); background-repeat: no-repeat; background-position: center bottom; opacity:0.09;">
    
  </div>

  <div *ngIf="!isAuth" style="position: absolute; width:100%; top: 250px; text-align:center;"><span class="welcome">Bienvenue sur Smart Fitness</span></div>
  <div *ngIf="isAuth && authority=='ROLE_CUSTOMER'" style="position: absolute; width:100%; top: 110px; text-align:center;">
    <span class="welcome">Bonjour {{fullname}},</span>
    <br><br>
    <span class="message">
     Bienvenue dans votre espace personnel grâce auquel vous pouvez :<br>
      <ul> 
        <li><a routerLink="/seance-booking" routerLinkActive="active" ><span class="offset">Vous constituer des séances à la carte.</span><mat-icon class="green-icon">check</mat-icon></a><span class="empty-character">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></li>
        <li><a routerLink="/seance-listing" routerLinkActive="active" ><span class="offset">Visualiser les feuilles de route de vos séances.</span><mat-icon class="green-icon">check</mat-icon></a></li>
        <li><a routerLink="/subscription-customer-proposition" routerLinkActive="active" ><span class="offset">Souscrire à un abonnement (séances à -50%).</span><mat-icon class="green-icon">check</mat-icon></a><span class="empty-character">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></li>
        <li><a routerLink="/watch-customer-proposition" routerLinkActive="active"><span class="offset">Acheter une montre connectée.</span><mat-icon class="green-icon">check</mat-icon></a><span class="empty-character">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></li>
        <li><a routerLink="/command-listing" routerLinkActive="active" ><span class="offset">Gérer le suivi de vos commandes.</span><mat-icon class="green-icon">check</mat-icon></a><span class="empty-character">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></li>
      </ul>  
    <br>
      L'équipe Smart Fitness
  </span>
  </div>
  <div *ngIf="isAuth && (authority=='ROLE_MANAGER' || authority=='ROLE_ADMIN')" style="position: absolute; width:100%; top: 110px; text-align:center;">
      <span class="welcome">Bonjour {{fullname}},</span>
      <br><br>
      <span class="message-manager">
        Bienvenue dans votre espace
        <span *ngIf="authority=='ROLE_MANAGER'"> de collaborateur </span>
        <span *ngIf="authority=='ROLE_ADMIN'"> d'adminnistrateur </span>
        vous permettant de : <br><br>
          <table style="width: 100%">
            <tr tyle="text-align: center; width: 100%;">
              <td colspan="3"><span class="item-manager">1. Gérer vos infrastructures</span></td>
            </tr>
            <tr tyle="text-align: center; width: 100%;">
              <td>
                <a class="manager-listing" routerLink="/room-listing" routerLinkActive="active" ><img src="assets/images/salle.jpg" width="95%"></a>                        
              </td>
              <td>
                <a class="manager-listing" routerLink="/facility-category-listing" routerLinkActive="active" ><img src="assets/images/categorie.jpg" width="90%"></a> 
              </td>
              <td>
                <a class="manager-listing" routerLink="/facility-listing" routerLinkActive="active" ><img src="assets/images/salle-musculation.jpg" width="95%"></a> 
              </td>
            </tr>
            <tr tyle="text-align: center; width: 100%;">
              <td>
                <a class="manager-listing" routerLink="/room-listing" routerLinkActive="active" >Salle</a>                    
              </td>
              <td>
                <a class="manager-listing" routerLink="/facility-category-listing" routerLinkActive="active" >Catégorie</a>
              </td>
              <td>
                <a class="manager-listing" routerLink="/facility-listing" routerLinkActive="active" >Équipement</a>
              </td>
            </tr>
          </table>
          <br>
          <table style="width: 100%">
            <tr style="text-align: center; width: 100%;">
                <td colspan="2"><span class="item-manager">2. Gérer vos offres</span></td>
              </tr>
              <tr tyle="text-align: center; width: 100%;">
                  <td>
                      <a class="manager-listing" routerLink="/subscription-category-listing" routerLinkActive="active" ><img src="assets/images/abonnement.jpg" width="90%"></a> 
                    </td>
                  <td>
                    <a class="manager-listing" routerLink="/watch-category-listing" routerLinkActive="active" ><img src="assets/images/Montre-de-sport-connectee-Polar-M600-Noir.jpg" width="55%"></a>                        
                </td>
            </tr>
              <tr style="text-align: center; width: 100%;">
                  <td>
                  <a class="manager-listing" routerLink="/subscription-category-listing" routerLinkActive="active" >Les abonnements</a>                   
                  </td>
                  <td>
                  <a class="manager-listing" routerLink="/watch-category-listing" routerLinkActive="active" >Les modèles de montre</a>
                  </td>
                </tr>
          </table>
          <br>
          <table style="width: 100%">
              <tr style="text-align: center; width: 100%;">
                  <td colspan="2"><span class="item-manager">3. Piloter votre activité</span></td>
                </tr>
                <tr style="text-align: center;">
                    <td style="text-align: center; padding-left:15px;">
                        <a class="manager-listing" class="manager-listing" style="cursor: pointer;" (click)="onReportingBooking()"><img src="assets/images/img_rentability.jpg" width="90%"></a> 
                      </td>
                    <td>
                      <a class="manager-listing" (click)="onReportingRentability()"><img src="assets/images/img_rate.jpg" width="55%"></a>                        
                  </td>
              </tr>
                <tr style="text-align: center; width: 100%;">
                    <td>
                    <a class="manager-listing" class="manager-listing" style="cursor: pointer;" (click)="onReportingBooking()">Évolution du taux de réservation</a>                   
                    </td>
                    <td>
                    <a class="manager-listing" (click)="onReportingRentability()">Rentabilité des équipements</a>
                    </td>
                  </tr>
            </table>
            <br>
            <table *ngIf="authority=='ROLE_ADMIN'" style="width: 100%">
              <tr style="text-align: center; width: 100%;">
                  <td ><span class="item-manager">4. Gérer les comptes de vos collaborateurs</span></td>
                </tr>
                <tr style="text-align: center; width: 100%;">
                    <td style="text-align: center;  width: 100%; padding: 30px;">
                      <a class="manager-listing" routerLink="/staff-listing" routerLinkActive="active" ><img src="assets/images/img_collaborateurs.jpg" width="80%"></a> 
                      </td>
              </tr>
              <tr style="text-align: center; width: 100%;">
                <td style="text-align: center;  width: 100%;">
                  <a class="manager-listing" routerLink="/staff-listing" routerLinkActive="active" >Le staff</a>
                </td>
              </tr>
            </table>                
      </span>
    </div>
  <div *ngIf="authority!='ROLE_MANAGER' && authority!='ROLE_ADMIN'" class="pad"></div>
  <div *ngIf="authority!='ROLE_MANAGER' && authority!='ROLE_ADMIN'" class="mat-app-background">
    <mat-card>
      <mat-card-content>  
        <div class="demo-carousel">
          <mat-carousel
            #matCarousel
            [timings]="timings"
            [autoplay]="autoplay"
            [interval]="interval"
            [loop]="loop"
            [hideArrows]="hideArrows"
            [hideIndicators]="hideIndicators"
            [color]="color"
            [maxWidth]="maxWidth"
            [proportion]="proportion"
            [useKeyboard]="useKeyboard"
            [useMouseWheel]="useMouseWheel"
            [orientation]="orientation"
            [slides]="slides"
          >
            <mat-carousel-slide
              #matCarouselSlide
              *ngFor="let slide of slidesList; let i = index"
              image="assets/facility{{i}}.jpg"
              [overlayColor]="overlayColor"
              [hideOverlay]="hideOverlay"
            >
            </mat-carousel-slide>
          </mat-carousel>
        </div>
  
      </mat-card-content>
    </mat-card>
  </div>
