
      
<mat-accordion *ngIf="!isBookedTimestamp && isShowableFacilities">
      <mat-expansion-panel *ngFor="let facilityCategory of listFacilityCategories | async">
          
          <mat-expansion-panel-header *ngIf="facilityCategory.quantityAvailable > 0">
            <mat-panel-title>
                {{ facilityCategory.nameFacilityCategory }} (dispo : {{ facilityCategory.quantityAvailable }} )
            </mat-panel-title>
          </mat-expansion-panel-header>
      

          <table>
            <tr *ngFor="let facility of facilityCategory.facilities">
              <td>
                <div *ngIf="facility.imageFacility ==''">
                      {{ facility.nameFacility }} : ({{ convertIntoMonetaryFormat(facility.priceSeance) }} les 10') <br>
                    <span *ngIf="facility.descriptionFacility !=''" >
                      {{ facility.descriptionFacility }}  <br></span>
                    <a mat-flat-button (click)="onBookingFacility(facility.nameFacility, facilityCategory.nameFacilityCategory, facility.priceSeance)">Sélectionner</a>
                </div>
                  <div *ngIf="facility.imageFacility !='' && facility.descriptionFacility ==''" >
                    <table>
                      <tr>
                        <td rowspan=2>
                            <img class="img-facility" src="assets/images/facilities/{{ facility.imageFacility }}" />
                        </td>
                        <td>
                            {{ facility.nameFacility }} : ({{ convertIntoMonetaryFormat(facility.priceSeance) }} les 10') 
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <a mat-flat-button (click)="onBookingFacility(facility.nameFacility, facilityCategory.nameFacilityCategory, facility.priceSeance)">Sélectionner</a>
                        </td>
                      </tr>
                    </table>   
                  </div>
                  <div *ngIf="facility.imageFacility !='' && facility.descriptionFacility !=''" >
                      <table>
                        <tr>
                          <td rowspan=3>
                              <img class="img-facility" src="assets/images/facilities/{{ facility.imageFacility }}" />
                          </td>
                          <td>
                              {{ facility.nameFacility }} : ({{ convertIntoMonetaryFormat(facility.priceSeance) }} les 10') 
                          </td>
                        </tr>
                        <tr>
                          <td>
                              {{ facility.descriptionFacility }}
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <a mat-flat-button (click)="onBookingFacility(facility.nameFacility, facilityCategory.nameFacilityCategory, facility.priceSeance)">Sélectionner</a>
                          </td>
                        </tr>
                      </table>   
                    </div>
                </td>
              </tr>
            </table>   
          
        
    </mat-expansion-panel>
  </mat-accordion>

  <div *ngIf="isBookedTimestamp">
    
      <div style="position: relative; width:100%; top: 90px; text-align:center;"><span class="info-reserve">Votre équipement est réservé <br>pour cette tranche horaire.</span>
        <div style="position: relative; text-align:left; top: -160px; height: 270px; vertical-align: bottom; background-image: url('assets/images/infoReservation.jpg'); background-repeat: no-repeat; background-position: center bottom; opacity:0.2;">
        </div>
      </div>
    
  </div>

  <div *ngIf="isNotAvailableFacilities && !isBookedTimestamp">
      <div style="position: relative; width:100%; top: 90px; text-align:center;"><span class="warning-reserve">Tous les équipements sont réservés.</span>
        <div style="position: relative; text-align:left; top: -160px; height: 270px; vertical-align: bottom; background-image: url('assets/images/warningReservation.jpg'); background-repeat: no-repeat; background-position: center bottom; opacity:0.2;">
        </div>
      </div>
  </div>

  