.seanceTitle {
  font-weight: bold;
}

.container {
    max-width: auto;
    max-height: auto;
    display: flex;
    flex-direction: column;
  
    
    /* align-content: center; */
  }
  
  .image {
      overflow: hidden;
      border-radius: 50px;
      width: 40px;
      height: 40px;
  }
  
  
  
  .body {
    display: flex;
    height: auto;
    flex-direction: row;
    display: block;
    
   
  
  }
  
  .couverture {
   
    width: 250px;
    margin-top: 40px;
    margin-right: 50px;
      float: left;
      
  
    
    
  }
  .container-list{
    justify-content: center;
    align-content: center;
  }
  
  .matlist {
  width: 700px;
  align-content: center;
  }
  
  .footer {
    align-content: center;
    flex-grow: auto;
    margin-top: 40px;
   
  
    
  }
  
  .header {
    flex-grow: auto;
   
  }
  
  .boutton{
    border: 1px white solid;
    
  }
  
  
  
  
  .mat-elevation-z5 {
    background-color: rgb(72, 85, 122);
  }
  
  
  
  
  .menu {
   
    text-align: center;
    background-color: rgb(72, 85, 122);
    
    
  }
  
  ul {
    list-style-type: none;
    padding: 0;
    
  }
  
  a {
    border-bottom: 1px, white solid;
  }
  
  .menu a {
    list-style-type: none;
    color: black;
    border-bottom: 1px, white solid;
    display: block;
    /* Make the links appear below each other */
    padding: 12px;
    /* Add some padding */
    text-decoration: none;
    /* Remove underline from links */
    
  }
  
  .menu a:hover {
    background-color: #ccc;
    /* Dark grey background on mouse-over */
  }
  
  
  .flex-spacer {
    flex: 1 1 auto;
  }
  
  
  mat-row:hover {
    background-color: rgb(44, 99, 116);
  }
  
  .pad {
    margin: 5px;
    padding: 5px;
  }
  
  .flex-spacer {
    flex: 1 1 auto;
  }








 table {
  background:#666;
  border-collapse:collapse;
  width:100%;
}
th {
  color:white;
}
th, td {
  text-align:center;
  padding:5px;
  border-right:1px solid black;
}
th:last-child, td:last-child {
  border-right:0;
}
tbody tr:nth-child(odd) {
  background:#ccc;
}
tbody tr:nth-child(even) {
  background:#aaa;
}
@media screen and (max-width:800px) {
  table {
    display:flex;
  }
  thead {
    width:20%;
    min-width:90px;
  }
  tbody {
    flex:1;
  }
  tr {
    display:flex;
    flex-direction:column;
    font-family: 'Courier New', Courier, monospace;
  }
  th, td {
    text-align:left;
    border-right:0;
    border-bottom:1px solid black;
    font-family: 'Courier New', Courier, monospace;
  }
  tr:last-child td:last-child {
    border-bottom:0;
  }
  tbody tr:not(:first-child) td::before {
    position:absolute;
    content:'Début';
    color:white;
    font-weight:bold;
    width:calc(20% - 13px);
    min-width:90px;
    padding:5px;
    border-bottom:1px solid black;
    margin-left:calc(-20% - 2px);
    margin-top:-5px;
    font-family: 'Courier New', Courier, monospace;
  }
  tbody tr:last-child td:last-child::before {
    border-bottom:0;
  }
  tbody tr:not(:first-child) td:nth-of-type(2)::before {
    content:'Fin';
  }
  tbody tr:not(:first-child) td:nth-of-type(3)::before {
    content:'Activité';
  }
  tbody tr:not(:first-child) td:nth-of-type(4)::before {
    content:'Equip.';
  }

}
@media screen and (max-width:461px) {
  tbody tr:not(:first-child) td::before {
    margin-left:-95px;
  }
}

.title {
  width:100%; 
  text-align: center; 
  height: 50px;
  font-weight: bold;
  vertical-align: baseline;
  padding-top: 20px;
}
  