


<table cellpadding="0" cellspacing="0">
   <thead>
     <tr>
       <th>Type</th>
       <th>Début</th>
       <th>Fin</th>
       <th>Prix</th>
     </tr>
   </thead>
   <tbody>

      <tr *ngFor="let subscription of nextSubscriptionsList | async; let i = index">
          <td>{{i}} : {{ subscription.typeItem }} (actif)</td>
          <td>{{convertIntoDateSubscription(subscription.dateStartOfSubscription)}}</td>
          <td>{{convertIntoDateSubscription(subscription.dateEndOfSubscription)}}</td>
          <td >{{convertIntoMonetaryFormat(subscription.price)}}</td>
      </tr>
      <tr *ngIf="next == 0">
          <td><div style="height: 18px;"></div></td>
          <td><div style="height: 18px;"></div></td>
          <td><div style="height: 18px;"></div></td>
          <td><div style="height: 18px;"></div></td>
      </tr>
     <tr><td colspan="4"><div class="title">Vos prochains abonnements.</div></td></tr>
    <tr *ngFor="let subscription of nextSubscriptionsList | async">
        <td>{{ subscription.typeItem }}</td>
        <td>{{convertIntoDateSubscription(subscription.dateStartOfSubscription)}}</td>
        <td>{{convertIntoDateSubscription(subscription.dateEndOfSubscription)}}</td>
        <td >{{convertIntoMonetaryFormat(subscription.price)}}</td>
      </tr>
      <tr><td colspan="4"><div class="title">L'historique de vos abonnements.</div></td></tr>  
    <tr *ngFor="let subscription of historicSubscriptionsList | async">
      <td>{{ subscription.typeItem }}</td>
      <td>{{convertIntoDateSubscription(subscription.dateStartOfSubscription)}}</td>
      <td>{{convertIntoDateSubscription(subscription.dateEndOfSubscription)}}</td>
      <td >{{convertIntoMonetaryFormat(subscription.price)}}</td>
    </tr>
   </tbody>
 </table>
 


