
 table {
    background:#666;
    border-collapse:collapse;
    width:100%;
  }
  th {
    color:white;
  }
  th, td {
    text-align:center;
    padding:5px;
    border-right:1px solid black;
  }
  th:last-child, td:last-child {
    border-right:0;
  }
  tbody tr:nth-child(odd) {
    background:#ccc;
  }
  tbody tr:nth-child(even) {
    background:#aaa;
  }
  @media screen and (max-width:800px) {
    table {
      display:flex;
    }
    thead {
      width:20%;
      min-width:90px;
    }
    tbody {
      flex:1;
    }
    tr {
      display:flex;
      flex-direction:column;
    }
    th, td {
      text-align:left;
      border-right:0;
      border-bottom:1px solid black;
    }
    tr:last-child td:last-child {
      border-bottom:0;
    }
    tbody tr:not(:first-child) td::before {
      position:absolute;
      content:'Type';
      color:white;
      font-weight:bold;
      width:calc(20% - 13px);
      min-width:90px;
      padding:5px;
      border-bottom:1px solid black;
      margin-left:calc(-20% - 2px);
      margin-top:-5px;
    }
    tbody tr:last-child td:last-child::before {
      border-bottom:0;
    }
    tbody tr:not(:first-child) td:nth-of-type(2)::before {
      content:'Début';
    }
    tbody tr:not(:first-child) td:nth-of-type(3)::before {
      content:'Fin';
    }
    tbody tr:not(:first-child) td:nth-of-type(4)::before {
      content:'Prix';
    }
  
  }
  @media screen and (max-width:461px) {
    tbody tr:not(:first-child) td::before {
      margin-left:-95px;
    }
  }

  .title {
    width:100%; 
    text-align: center; 
    height: 50px;
    font-weight: bold;
  }