<div fxFlex fxLayout fxLayoutAlign="center">
    <div class="pad">
        <form [formGroup]="userRegistrationForm" class="customer-form">
        
            <mat-form-field class="customer-full-width">
                <input matInput placeholder="Full name" type="text" formControlName="fullName" [(ngModel)]="fullName">
                <mat-error>
                    {{errors.fullName}}
                </mat-error>
            </mat-form-field>
            <div formGroupName="usernameGroup">
            <mat-form-field class="customer-full-width">
                <input matInput placeholder="Username" type="text" formControlName="username" [errorStateMatcher]="confirmValidParentMatcher" [(ngModel)]="username">
                <mat-error>
                    {{errors.username}}
                </mat-error>
            </mat-form-field>
            </div>
            <div formGroupName="emailGroup">
                <mat-form-field class="customer-full-width">
                    <input matInput placeholder="Email address" type="email" formControlName="email" [(ngModel)]="email">
                    <mat-error>
                        {{errors.email}}
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="customer-full-width">    
                    <input matInput placeholder="Confirm email address" type="email" formControlName="confirmEmail" [errorStateMatcher]="confirmValidParentMatcher">
                    <mat-error>
                        {{errors.confirmEmail}}
                    </mat-error>
                </mat-form-field>
            </div>
            <div formGroupName="passwordGroup">
                <mat-form-field class="customer-full-width">
                    <input matInput placeholder="Password" type="password" formControlName="password" [(ngModel)]="password">
                    <mat-error>
                        {{errors.password}}
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="customer-full-width">
                    <input matInput placeholder="Confirm password" type="password" formControlName="confirmPassword" [errorStateMatcher]="confirmValidParentMatcher">
                    <mat-error>
                        {{errors.confirmPassword}}
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="customer-border">
                <p>
                <mat-form-field class="customer-full-width">
                        <input matInput placeholder="Domestic Address" type="text" formControlName="domesticAddress" [(ngModel)]="domesticAddress">          
                </mat-form-field>
                </p>
            
                <table class="customer-full-width" cellspacing="0"><tr>
                <td><mat-form-field class="customer-full-width">
                    <input matInput #postalCode maxlength="5" placeholder="Domestic Postal Code" formControlName="domesticCp" [(ngModel)]="domesticCp">
                    <mat-error>
                        {{errors.domesticCp}}
                    </mat-error>
                    </mat-form-field></td>
                <td><mat-form-field class="customer-full-width">
                    <input matInput placeholder="Domestic City" formControlName="domesticCity" [(ngModel)]="domesticCity">
                </mat-form-field></td>
                <td><mat-form-field class="customer-full-width">
                    <input matInput placeholder="Domestic State" formControlName="domesticCountry" [(ngModel)]="domesticCountry">
                </mat-form-field></td>
                </tr></table>
            </div> 
            <p></p>
            <mat-checkbox formControlName="checkedAdr" (click)="onCopyAdr()" [(ngModel)]="checkedAdrCopy">Delivery Adress = Domestic Adress</mat-checkbox>
            <div class="customer-border">
                <p>
                    <mat-form-field class="customer-full-width">
                    <input matInput placeholder="Delivery Address" type="text" formControlName="deliveryAddress" [(ngModel)]="deliveryAddress">
                    </mat-form-field>
                </p>
                <table class="customer-full-width" cellspacing="0"><tr>
                    <td><mat-form-field class="customer-full-width">
                    <input matInput #postalCode maxlength="5" placeholder="Delivery Postal Code" formControlName="deliveryCp"  [(ngModel)]="deliveryCp">
                    <mat-error>
                        {{errors.deliveryCp}}
                        </mat-error>
                    </mat-form-field></td>
                    <td><mat-form-field class="customer-full-width">
                        <input matInput placeholder="Delivery City" formControlName="deliveryCity"  [(ngModel)]="deliveryCity">
                        </mat-form-field></td>
                        <td><mat-form-field class="customer-full-width">
                    <input matInput placeholder="Delivery State" formControlName="deliveryCountry"  [(ngModel)]="deliveryCountry">
                    </mat-form-field></td>
                </tr></table>
            </div>
            <div>
                <mat-form-field class="customer-full-width">
                    <span matPrefix>&nbsp;</span>
                    <input type="tel" matInput placeholder="Telephone" formControlName="tel" [(ngModel)]="tel">
                    <mat-icon matSuffix>mode_edit</mat-icon>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field class="customer-full-width">
                    <input matInput type="date" placeholder="date Of Birth" formControlName="dateOfBirthday" [(ngModel)]="dateOfBirthday">
                </mat-form-field>
            </div>
            <button mat-raised-button [disabled]="userRegistrationForm.invalid" (click)="onRegister()">Register</button>
        
        </form>
    </div>
</div>