
.customer-new-container {
    display: flex;
    flex-direction: column;
  }
  
  .customer-new-container > * {
    width: 100%;
  }

  .customer-form {
    min-width: 150px;
    max-width: 600px;
    width: 100%;
  }
  
  .customer-full-width {
    width: 100%;
  }

  .customer-border-solid {
    border-style: solid;
  }


  .pad {
    margin: 5px;
    padding: 5px;
  }

  .mat-spinner{
    margin:0 auto; 
    position: fixed;
    top: 50px;
    text-align: center;
}
  
.mat-spinner-div {
  position: fixed;
  top: 435px;
  text-align: center;
}

.mat-spinner-component{
  margin:0 auto;
}

