<div style="position: relative; text-align:center; height: 350px; vertical-align: bottom; background-image: url('assets/images/smartFitness.jpg'); background-repeat: no-repeat; background-position: center bottom; opacity:0.2;">

</div>
<div style="position: absolute; width:100%; top: 223px; text-align:center;">
    <span class="receipt">
        Bonjour {{ fullname }},<br><br>
        L'équipe de Smart Fitness vous souhaite la bienvenue.<br>
        Nous vous remercions de votre confiance et nous nous félicitons de vous voir prochainement dans notre centre !<br>
        Un email de confirmation d'inscription vous a été envoyé à l'adresse {{email}}.<br><br>
        L'équipe Smart Fitness
    </span>
</div>