.pad {
    margin: 50px;
    padding: 50px;
  }

  .span-mail {
      font-size: 25px;
      font-family: 'Times New Roman', Times, serif;
      font-style: italic;
      color: #0c249c;
      font-weight: 900;
  }


  .receipt {
    font-size: 25px;
    font-family: 'Agency FB';
    font-style: italic;
    color: brown;
    font-weight: 900;
  }
