
<div fxFlex fxLayout fxLayoutAlign="center">
  <div class="pad">
    <form [formGroup]="facilityForm" >
      <div>
        <mat-form-field class="customer-full-width">
          <mat-label>Catégorie de l'équipement</mat-label>
          <mat-select required name="idFacilityCategory" formControlName="idFacilityCategory" [(ngModel)]="idFacilityCategory">
            <mat-option *ngFor="let facilityCategory of listFacilityCategories | async" value="{{facilityCategory.idFacilityCategory}}">{{ facilityCategory.nameFacilityCategory }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field class="customer-full-width">
          <mat-label>Salle de l'équipement</mat-label>
          <mat-select required name="idRoom" formControlName="idRoom" [(ngModel)]="idRoom">
            <mat-option *ngFor="let room of listRooms | async" value="{{room.idRoom}}">{{ room.nameRoom }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field class="customer-full-width">
            <input matInput placeholder="Nom de l'équipement" type="text" formControlName="nameFacility" [(ngModel)]="nameFacility">
        </mat-form-field>

      </div>
      <div>
          <mat-form-field class="customer-full-width">
              <textarea matInput placeholder="Description de l'équipement" type="text" formControlName="descriptionFacility" [(ngModel)]="descriptionFacility"></textarea>
          </mat-form-field>
  
        </div>
      <div>
        <input type="file" id="userFile" (change)="onSelectFile($event)" #fileInput style="display: none">
        <mat-form-field class="customer-full-width">
          <input matInput formControlName="imageFacility" placeholder="Image à uploader" readonly>
        </mat-form-field>
        <button mat-raised-button (click)="selectFile()">Selectionner</button>
      </div>

      <button mat-raised-button [disabled]="facilityForm.invalid" (click)="onValidate()">Valider</button>
    </form>
  </div> 
</div>
      
   
    