
<mat-sidenav-container class="container">
  
    <mat-sidenav-content>
  
        <app-header (sidenavToggle)="sidenav.toggle()"></app-header>
      <div class="pad">
        <router-outlet></router-outlet>  
      </div>
      <mat-sidenav #sidenav role="navigation">
        <app-sidenav-list (sidenavClose)="sidenav.close()"></app-sidenav-list>
      </mat-sidenav>
  
      <div class="alert alert-info">
          <strong>Liste des catégories.</strong>
      </div>
      <div class="pad">>
          <mat-form-field>
          <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
          </mat-form-field>
          <div class="example-container mat-elevation-z8">
            <mat-table #Table [dataSource]="MyDataSource" multiTemplateDataRows matSort>
            <ng-container matColumnDef="Name">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Nom de catégorie de l'équipement </mat-header-cell>
            <mat-cell *matCellDef="let post"> {{post.nameFacilityCategory}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="Price">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Prix d'achat de l'équipement (en €) </mat-header-cell>
            <mat-cell *matCellDef="let post"> {{post.priceFacilityCategory}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="Update">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Modification de la catégorie d'équipement </mat-header-cell>
                <mat-cell  *matCellDef="let post"> <button mat-raised-button color="accent" (click)="onShow(post.idFacilityCategory)">Modifier</button></mat-cell>
            </ng-container>
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="onShow(row.idFacilityCategory)"></mat-row>
            </mat-table>
            <mat-paginator #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20]">
            </mat-paginator>
        </div>
      </div>
    </mat-sidenav-content> 
  </mat-sidenav-container>

