<div fxFlex fxLayout fxLayoutAlign="center">
  <div class="pad">
      <form [formGroup]="subscriptionCategoryDetailForm" class="subscription-category-form">
      
          <mat-form-field class="subscription-category-full-width">
              <input required matInput placeholder="Nom de l'abonnement" type="text" formControlName="nameSubscription" [(ngModel)]="nameSubscription">
              <!-- <mat-error>
                  {{errors.nameSubscription}}
              </mat-error> -->
          </mat-form-field>
          <div>
            <mat-form-field class="subscription-category-full-width">
                <input matInput required placeholder="Prix de l'abonnement" type="number" formControlName="priceSubscription" [(ngModel)]="priceSubscription">
            </mat-form-field>
          </div>
          <!-- <div formGroupName="usernameGroup"> -->
          <!-- <mat-form-field class="subscription-category-full-width">
            <input required matInput placeholder="Username" type="text" formControlName="username" [(ngModel)]="username"> -->
            <!-- <input required matInput placeholder="Username" type="text" formControlName="username" [errorStateMatcher]="confirmValidParentMatcher" [(ngModel)]="username"> -->
              <!-- <mat-error>
                  {{errors.username}}
              </mat-error> -->
          <!-- </mat-form-field> -->
          <!-- </div> -->
          <!-- <div>
              <mat-form-field class="subscription-category-full-width">
                  <mat-label>Rôle du collaborateur</mat-label>
                  <mat-select required name="role" formControlName="role" [(ngModel)]="role">
                    <mat-option value="ROLE_MANAGER">ROLE_MANAGER</mat-option>
                    <mat-option value="ROLE_ADMIN">ROLE_ADMIN</mat-option>
                  </mat-select>
                </mat-form-field>
         
          </div> -->

          <button mat-raised-button [disabled]="subscriptionCategoryDetailForm.invalid" (click)="onUpdate()">Enregistrer les modifications</button>
      
      </form>
  </div>
</div>